.vote {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #a1a1a1;
}

.odd {
    background-color: #ADD8E6 !important;
    color: #fff !important
}

.even {
    background-color: #eeeeee !important;
    color: #233a77 !important;
}

.voteContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.oddToggleButton {
    color: #fff;
}

.evenToggleButton {
    color: #233a77;
}

.buttonDiv {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.voteButton {
    background-color: #000 !important;
    margin: 0 !important;
    min-height: 48px;
}