.seedContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.seed {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #a1a1a1;
}

.summary {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    flex-grow: 1;
    padding: 12px;
}