.App {
  text-align: center;
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
  justify-content: center;

}

.backgroundImage {
  background-image: url("./images/badminton1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d3d3d3;
  background-size: 100% 100%;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
}

.MuiSvgIcon-root,
.MuiInputBase-input,
.MuiFormLabel-root {
  color: #fff !important;
  font-weight: 700 !important;
}

.navContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  display: block;
  height: 47px;
  background-color: #01172F;
  border-bottom: 1px solid #d3d3d3;
}

.mainContainer {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 48px);
  flex-grow: 1;
}